name: chphub

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12 
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "chp-hub-api"
          heroku_email: "smarkwisai@gmail.com"
          usedocker: true
          justlogin: true
      - run: heroku auth:97c6508d-5d9b-4ea5-97a7-8326d8080411
